:root {
    --card-padding: 20px;
    --card-text-spacing: 15px;
}

.container {
    font-family: 'Manrope', sans-serif;
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 3rem;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 2.5rem;
}

.filters-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    gap: 1rem;
}

#searchbar, select {
    padding: 0.5rem;
    background: no-repeat center right 0.5rem url('images/Magnifer.svg');
    border-radius: 0.5rem;
    border: solid 1px lightgray;
}

#searchbar { max-width: 21.85rem; }

select {
    max-width: 23rem;
    color: gray;
    background: no-repeat center right 0.5rem url('images/SearchArrow.svg');
    -webkit-appearance: none;
    -moz-appearance: none;
}

.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--card-padding);
}

.card-img > img {
    object-fit: cover;
    width: 13rem;
    height: 10rem;
    border-radius: 1.5rem 1.5rem 0 0;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    max-width: 13rem;
    max-height: 20rem;
    padding: var(--card-padding);
    border-radius: 1rem;
    gap: 1rem;
    justify-content: space-between;
    border: 1px solid white;
}

.card:hover {
    border-color: gray;
}

.card-title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.125rem;
}

.card-description, .card-price {
    font-size: 0.8125rem;
    font-weight: bolder;
    text-align: center;
    color: gray;
}

.card-title, .card-description {
    text-align: center;
    margin: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.card-title {
    -webkit-line-clamp: 2;
}

.card-text {
    display: flex;
    flex-direction: column;
    gap: var(--card-text-spacing);
}

.card-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.card-fav-icon {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    font-weight: bolder;
    color: white;
    padding: 1rem 3rem;
    border-radius: 5rem;
    border: none;
    background-color: rgba(234, 88, 12, 1);
}

.fav-red { fill: #FF0000; }


@media (min-width: 686px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .filters-container {
        flex-direction: row;
        align-items: center;
    }

    .products {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-basis: 33.333333%;
        justify-content: center;
        max-width: 1024px;
        margin: 0 auto;
    }
}

@media (min-width: 769px) {
    header {
        flex-direction: row;
    }
}
